*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    html, body {
        margin: 0;
        padding: 0;
        width: 100vw;
        overflow-x: hidden;
    }

    header {
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      background: linear-gradient(to right, #5C3B24, #8B5E3C);
      z-index: 1000;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 2rem;
    }

    .logo {
      font-family: 'Playfair Display', serif;
      font-size: 1.6rem;
      color: #fff;
    }

    nav ul {
      display: flex;
      list-style: none;
    }

    nav ul li {
      margin-left: 1.5rem;
      font-family:'Roboto', sans-serif;
    }

    nav ul li a {
      text-decoration: none;
      color: #fff;
      position: relative;
    }

    nav ul li a::after {
      content: "";
      position: absolute;
      bottom: -4px;
      left: 0;
      width: 0%;
      height: 2px;
      background-color: #d6a061;
      transition: 0.3s;
    }

    nav ul li a:hover::after {
      width: 100%;
    }

    footer {
      background: #5C3B24;
      color: #000000;
      text-align: center;
      padding: 2rem 1rem;
    }